body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0px; /* Hidden by default */
  background-color: #111;
  padding-top: 60px;
  transition: 0.3s;
  overflow-x: hidden;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ddd;
  display: block;
}

.sidebar a:hover {
  background-color: #575757;
}

#main {
  margin-left: 250px;
  padding: 20px;
  margin-top: 30px; 
  transition: margin-left 0.3s;
}

#toggleBtn {
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
}


.top-banner {
      position: fixed;
      top: 0;
      left: 250px;
      right: 0;
      height:4% !important;
      background-color: purple;
      color: white;
      text-align: center;
      padding: 15px 0;
      z-index: 1000;
    }
      
    